html,body
{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(skyblue, teal)
}
.cut
{
	font-size: 5em;
	font-family: "arial black";
	position: relative;
	color: transparent;
}
.cut::before,.cut::after
{
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	color: gold;
	transition: 0.2;
}
.cut::before
{
	clip-path: polygon(0 0, 60% 0, 30% 100%, 0 100%);
}
.cut::after
{
	clip-path: polygon(60% 0, 100% 0, 100% 100%, 30% 100%);
}
.cut:hover::before
{
	color:skyblue;
	left: -0.15em;
	transform: rotate(-4deg);
	top: -0.05em;
	filter: blur(1px);
}
.cut:hover::after
{
	color: teal;
	left: 0.15em;
	transform: rotate(4deg);
	top: 0.05em;
	filter: blur(1px);
}